@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto px-6 bg-black;
  }
}

* {
  font-family: "Tilt Warp", Open sans, sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

